<table class="listings">
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th>Amount</th>
      <th>Time remaining</th>
    </tr>
  </thead>
  <tbody>
    <%= render listings %>
  </tbody>
</table>