body {
  padding: 1.5em;
}

#main {
  width: 800px;
  margin: 0 auto;
}

header {
  display: block;
  overflow: hidden;
  margin-bottom: 1.5em;
}

  header h1 {
    margin: 0;
    float: left;
    margin: 0 18px 0 0;
  }
  header h1 a {
    text-decoration: none;
  }
  
  header .e1, header .b5 { color: #F00; }
  header .h2, header .o6 { color: #009; }
  header .a3, header .r7 { color: #FC0; }
  header .r4             { color: #9C0; }

#toolbar {
  text-align: right;
  margin: 0 6px 6px 0;
}

nav {
  display: block;
}

nav ul {
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #222;
  margin: 0;
  padding: 0 1em;
}

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    line-height: 2em;
    color: #FFF;
    text-decoration: none;
    padding: 0 1em;
    font-size: 18px;
  }

  nav li a:hover {
    background-color: #333339;
  }

dl.info {
  background-color: #FFE;
  border: 1px solid #EED;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 12px;
}

dl.info dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  padding-right: 9px;
}

dl.info dd {
  margin: 0 0 0 109px;
}

/** Forms *********************/
input.text {
  font-size: 18px;
}

textarea {
  font-family: Helvetica, Arial, sans-serif;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  color: #666;
  font-weight: bold;
}

table.listings {
  width: 100%;
}

  table.listings td {
    line-height: 3em;
    padding: 0.5em;
  }

#bid {
  border: 1px solid #cddbf4;
  background-color: #e1e9f8;
  padding: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}